.cards {
    position: relative;
    max-width: 882px;
    min-height: 400px;
    margin: 51px auto 0;
    display: -moz-grid;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 21px;
    column-gap: 18px;
}

@media screen and (min-width: 800px) and (max-width: 899px) {
    .cards {
        max-width: 90%;
        column-gap: 12px;
        margin-left: auto;
    }
}

@media screen and (min-width: 700px) and (max-width: 799px) {
    .cards {
        max-width: 95%;
        column-gap: 12px;
        margin-left: auto;
    }
}

@media screen and (min-width: 551px) and (max-width: 699px) {
    .cards {
        max-width: 90%;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
    }
}

@media screen and (max-width: 550px) {
    .cards {
        max-width: 90%;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin: 36px auto 0;
        padding: 0;
        row-gap: 0;
    }
}