.page {
    max-width: 1280px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    background-color: #000000;
    overflow: hidden;    
}

.header {
    margin: 45px auto 0;
    max-width: 70%;
    height: 74px;
    border-bottom: 1px solid #545454;
}

.logo {
    width: 142px;
    height: 33px;
}

.profile {
    max-width: 70%;
    margin: 40px auto 0;
    display: flex;
    flex-direction: row;
}

.profile__avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-right: 30px;
}

.profile__info {
    display: flex;
    flex-wrap: wrap;
    max-width: 336px;
    color: #ffffff;
}

.profile__name {
    max-width: 295px;
    margin: 0;
    margin-top: 18px;
    margin-right: 17px;
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 56px;
}

.profile__edit-button {
    margin: 0;
    margin-top: 35px;
    width: 24px;
    height: 24px;
    background-color: #000000;
    border: 1px solid #ffffff;
}

.profile__edit-button_image {
    width: 10px;
    height: 10px;
}

.profile__text {
    max-width: 318px;
    margin: 0;
    margin-top: 16px;
    margin-bottom: 25px;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.button {
    width: 150px;
    height: 50px;
    border: 2px solid #ffffff;
    border-radius: 2px;
    background-color: #000000;
    place-self: center;
    margin: 0;
    margin-left: 245px;
}

.button__image {
    width: 22px;
    height: 22px;
}

.elements {
    max-width: 70%;
    margin: 51px auto 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 21px;
    column-gap: 18px;
}

.element__item {
    max-width: 282px;
    margin: 0;
    background-color: #ffffff;
    border-radius: 10px;
}

.element__image {
    max-width: 282px;
    height: 282px;
}

.element__card {
    display: flex;
    justify-content: space-between;
    margin: 25px auto 31px;
    color: #000000;
}

.element__caption {
    margin-left: 21px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
}

.element__image-like {
    width: 20px;
    height: 18px;
    margin-top: 6px;
    margin-right: 7px;
}

.footer {
    margin: 66px auto 60px;
    max-width: 70%;
}

.footer__copyright {
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #545454;
}