@import url('./__avatar/profile__avatar.css');
@import url('./__info/profile__info.css');
@import url('./__name/profile__name.css');
@import url('./__edit-button/profile__edit-button.css');
@import url('./__text/profile__text.css');
@import url('./__add-button/profile__add-button.css');

.profile {
    max-width: 882px;
    margin: 40px auto 0;
    display: flex;
    flex-direction: row;
}

@media screen and (min-width: 601px) and (max-width: 899px) {
    .profile {
        max-width: 90%;
    }
}

@media screen and (max-width: 600px) {
    .profile {
        max-width: 90%;
        flex-direction: column;
    }
}