.popup__close-icon {
    display: flex;
    margin: auto;
    margin-top: -35px;
    margin-left: 425px;
    width: 40px;
    height: 40px;
    background-image: url('../../../images/CloseIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 140%;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 2px;
    outline: none;
}

.popup__close-icon:hover {
    opacity: 0.6;
    border: 0;
}

@media screen and (max-width: 500px) {
    .popup__close-icon {
        margin-left: 98%;
        background-size: 100%;
    }
}