.popup-add__close-icon {
    /*display: flex;*/
    margin: auto;
    margin-top: -50px;
    margin-left: 420px;
    width: 60px;
    height: 60px;
    background-image: url('../../../images/CloseIcon.png');
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 2px;
    outline: none;
}

.popup-add__close-icon:hover {
    opacity: 0.6;
    border: 0;
}

@media screen and (max-width: 500px) {
    .popup-add__close-icon {
        margin-left: 95%;
    }
}