.profile__info {
    display: flex;
    flex-wrap: wrap;
    color: #ffffff;
}

@media screen and (min-width: 430px) and (max-width: 600px) {
    .profile__info {
        max-width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 429px) {
    .profile__info {
        justify-content: center;
    }
}