.card__delete {
    position: absolute;
    top: 18px;
    right: 15px;
    width: 18px;
    height: 19.3px;
    border: 0;
    background-color: rgba(243, 209, 209, 0.1);
    background-image: url('../../../images/deleteImage.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    outline: none;
}

.card__delete:hover {
    opacity: 0.6;
}