.popup__title {
    width: 360px;
    margin: 34px auto 0;
    margin-left: 36px;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    white-space: nowrap;
}

@media screen and (max-width: 500px) {
    .popup__title {
        width: 80%;
        margin-top: 25px;
        margin-left: 10%;
        font-size: 16px;
        line-height: 22px;
    }
}