@import url('./__delete/card__delete.css');
@import url('./__image/card__image.css');
@import url('./__item/card__item.css');
@import url('./__caption/card__caption.css');
@import url('./__like/card__like.css');
@import url('./__like/_active/card__like_active.css');
@import url('./__delete/_active/card__delete_active.css');

.card {
    width: 282px;
    position: relative;
    margin: 0 auto;
    border: 0;
    background-color: #ffffff;
    border-radius: 10px;
}

@media screen and (min-width: 451px) and (max-width: 800px) {
    .card {
        width: 100%;
    }
}

@media screen and (max-width: 450px) {
    .card {
        width: 90%;
        margin-bottom: 18px;
    }

    .card:last-of-type {
        margin-bottom: 0;
    }
}